@font-face {
  font-family: 'sansation';
  src: url("../../sansation.ttf"); }

* {
  font-family: 'sansation';
  font-size: 20px;
  color: #efeeed; }

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }

#container {
  height: 65%;
  width: 100%;
  min-width: 200px;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center; }
  #container form {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    #container form > div {
      width: 80%;
      display: flex;
      flex-direction: column-reverse;
      align-items: baseline; }
      #container form > div label {
        transition: all 0.5s;
        color: #333333; }
      #container form > div input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #333333; }
        #container form > div input:focus {
          outline: none; }
          #container form > div input:focus + label {
            color: #333333;
            font-size: 17px; }
    #container form footer {
      height: 20%; }
      #container form footer > a {
        display: block;
        margin-top: 30px; }
      #container form footer > button {
        height: 50px;
        width: 50%;
        display: inline-block;
        margin: 0 auto;
        border: 0;
        border-radius: 100px;
        background-color: #00c8b3;
        color: #ffffff; }
        #container form footer > button:disabled {
          color: #dddcdc;
          background-color: #f6f6f6;
          cursor: not-allowed; }
        #container form footer > button:hover {
          opacity: 0.7;
          cursor: pointer; }
      #container form footer div {
        height: 100%; }
        #container form footer div > button {
          height: 50px;
          width: 50%;
          display: inline-block;
          margin: 0 auto;
          border: 0;
          border-radius: 100px;
          background-color: #00c8b3;
          color: #ffffff;
          display: inline;
          width: 35%; }
          #container form footer div > button:disabled {
            color: #dddcdc;
            background-color: #f6f6f6;
            cursor: not-allowed; }
          #container form footer div > button:hover {
            opacity: 0.7;
            cursor: pointer; }
          @media all and (max-width: 30em) {
            #container form footer div > button {
              height: 50px;
              width: 50%;
              display: inline-block;
              margin: 0 auto;
              border: 0;
              border-radius: 100px;
              background-color: #00c8b3;
              color: #ffffff;
              display: block;
              margin: 10px auto;
              width: 60%; }
              #container form footer div > button:disabled {
                color: #dddcdc;
                background-color: #f6f6f6;
                cursor: not-allowed; }
              #container form footer div > button:hover {
                opacity: 0.7;
                cursor: pointer; } }
        #container form footer div > a {
          display: block;
          margin-top: 30px; }
  #container #user-list {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

#spinner {
  margin: 25% auto;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  border: 0.2em solid #457a9a;
  border-left: 0.2em solid #333333;
  border-right: 0.2em solid #333333;
  border-radius: 100%;
  -webkit-animation: spin360 2s linear infinite; }
  #spinner::before {
    content: "";
    display: block;
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    border: 0.2em solid #457a9a;
    border-top: 0.2em solid #333333;
    border-bottom: 0.2em solid #333333;
    border-radius: 100%;
    -webkit-animation: spin 8s linear infinite; }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(240deg); }
  100% {
    -webkit-transform: rotate(-1060deg); } }

@keyframes spin360 {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
