@mixin top-modal-base {
  width: 100%;
  height: 50px;
  position: absolute;
  text-align: center;
  top: 0;

  > h3 {
    color: white;
    text-shadow: 1px 2px 5px #000;
  }

  > h4 {
    color: white;
    position: absolute;
    left: 10px;
    cursor: pointer;
  }
}

@mixin base-button {
  height: 50px;
  width: 50%;
  display: inline-block;
  margin: 0 auto;
  border: 0;
  border-radius: 100px;
  background-color: #00c8b3;
  color: #ffffff;

  &:disabled {
    color: #dddcdc;
    background-color: #f6f6f6;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

@mixin base-input {
  width: 100%;
  border: none;
  //border-bottom: 1px solid #efeeed;
  border-bottom: 1px solid #333333;

  &:focus {
    outline: none;

    + label {
      color: #333333;
      font-size: 15px;
      margin-top: -35px;
    }
  }
}

@font-face {
  font-family: 'sansation';
  src: url('../../sansation.ttf')
}

* {
  font-family: 'sansation';
  font-size: 20px;
  color: #efeeed;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  > div.success-modal {
    @include top-modal-base;
    background-color: #00c8b3;
  }

  > div.error-modal {
    @include top-modal-base;
    background-color: #fe5f55;
  }
}

#container {
  height: 65%;
  width: 100%;
  min-width: 200px;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    > div {
      height: 10%;
      width: 80%;
      margin: 0 0 20px 0;
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      align-items: baseline;

      > label {
        transition: all 0.4s;
        position: absolute;
        //color: #efeeed;
        color: #333333;
      }

      > input.error {
        @include base-input;
        border-bottom: 1px solid #eb4a46;
      }

      > input {
        @include base-input
      }

      > span.error {
        position: absolute;
        bottom: -20px;
        color: #eb4a46;
        font-size: 12px;
      }
    }

    footer {
      height: 20%;
      width: 80%;
      position: relative;

      > a {
        display: block;
        margin-top: 30px;
      }

      > button {
        @include base-button;
      }

      div.edit-profile-section {
        height: 100%;
        > button {
          @include base-button;
          display: inline;
          width: 35%;

          @media all and (max-width: 30em){
            @include base-button;
            display: block;
            margin: 10px auto;
            width: 60%;
          }
        }

        > a {
          display: block;
          margin-top: 30px;
        }
      }
    }
  }

  #user-list {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 44%;
  border: 0.1em solid #00c8b3;
  border-top-color: white;
  border-radius: 100%;
  -webkit-animation: spin360 2s linear infinite;
}

#label-up {
  margin: -35px 0px 0px 0px;
  color: #333333;
  font-size: 15px;
}

@keyframes spin {
  0% {-webkit-transform: rotate(0deg)}
  50% {-webkit-transform: rotate(240deg)}
  100% {-webkit-transform: rotate(-1060deg)}
}

@keyframes spin360 {
  0% {-webkit-transform: rotate(0deg)}
  100% {-webkit-transform: rotate(360deg)}
}